*{
  padding: 0;
  margin: 0;
  text-decoration: none;

}
body{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color:rgb(0, 0, 0);
  

}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
  

} 

.content-name{
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 42px;
}

.content-name > h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  color: white;
}

.content-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 95px;
  gap: 100px;
  margin-top: 45px;
 
}

.content-nav a{
  font-size: 20px;
  color: white;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
}

.content-nav a:hover{
  background-color:#FFDE59 ;
  color: black;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-cabecalho{
  color: white;
  margin-top: 215px;
  gap: 8px;
  margin-left: 45px;
}

.content-filho >p{
  display: flex;
  flex-direction: column;
  gap: 8px; background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-size: 80%;
}


.content-filho > h1{
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

.content-img{
  width: 470px;
  display: flex;
  justify-content: end;
  margin-left: 780px;
  gap: 30px;
  margin-top: -270px;
}

.content-button{
  display: flex;
  align-items: center;
  margin-top: -70px;
 
  
}
.content-button > button{
  background-size: 220%;
  box-shadow: 0 .2em .3em rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-position: 100%;
  text-transform: uppercase;
  padding: 12px 16px;
  border-radius: 15px;
  transition: all .2s ease-out;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 14px;
  color:white;
 
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 .3em rgb(255, 238, 0);
  background-position: 0;
  color: #fff;
}

button:active {
  transform: translateY(-1px);
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}



.content-midias{
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 70px;
  margin-left: 25px;
}

section{  
  flex-direction: column;
  width: 100%;
  display: flex;
  color: white;
  display: flex;
  flex-direction: column;
}

.alinhamento-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-left: 210px;
  gap: 250px;
}


.alinhamento-content{
  display: flex;
  align-items: end;
  gap: 55px;
  flex-direction: column;
}

.alinhamento-content  > h1{
  align-items: end;
  justify-content: end;
  margin-right: 307px;
  font-size: 91px;
  gap: 20px;
}

.alinhamento-content > p{
  width: 600px;
  display: flex;
  align-items: end;
  justify-content: end;
  
}



.align-all{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 55px;

}

.align-all > h2{
  font-size: 91px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.align-all > p{
  width: 770px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.align-hard{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.align-hard > h1{
  font-size: 76px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.align-skills-fotos{
  align-self: center;
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.wrapper > img {
  width: 150px;
  height: 150px;

  }

.wrapper{
  width: 62.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15rem;
  justify-items: stretch;
  animation: scroll 20s linear infinite;
  margin-top: 100px;
}


  @keyframes scroll {
    to {
      translate: calc(-4 * 15rem);
    }
  }


  .align-techs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 167px;
    color: white;
    gap: 100px;
  }


  .align-techs > h2{
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif   ;
  }

  .align-all-names{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  .align-all-names p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
  }

  .align-all-names h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-top: 44px;
  }

  .logos-img{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 90px;
  }

  .dev-all{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 110px;
  }
  .dev-all >h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px ;
  }

  .dev-atualmente{
    display: flex;
    gap: 60px;
    padding-top: 80px;
  }
article{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 298px;
}
.align-myportif贸lio{
display: flex;
align-items: last baseline;
margin-left: 235px;
gap: 90px;
font-size: 64px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.align-myportif贸lio >p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
}
.align-button2{ 
   margin-left: 235px;
   margin-top: 90px;
}
.align-button2 > button{
  width: 125px;
  height: 65px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border-color: white;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.alignall-square{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 147px;
  gap: 30px;
}
.square{
  width: 340px;
  height: 250px;
  box-shadow: 5px -3px white;
  border-radius: 20px;
  border: 1px solid  #FFDE59;
  background-position: center;
  background-size: cover;
  background-image: url(/src/imagem/projeto\ escola\ de\ musica.png);
}


.square1{
  width: 340px;
  height: 250px;
  border-radius: 20px;
  border: 1px solid white;
  margin-top: 150px;
  background-color: white;
}

footer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 88px;
  background-color:#010401;
  color: white;
}

.align-footer{
  display: flex;
  justify-content: center;
  align-items: end;
}

@media (max-width: 448px){

  header{
    display: flex;
    width: 700px;
    flex-direction: column;
    justify-content: center;
    
  }

  .content-nav{
  flex-direction: column;
  gap: 15px;
  margin-left: -10px;
}

  main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
}

  .content-cabecalho{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 8px;
}

.content-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px; 
  gap: 30px;
  margin-top: 60px;
  margin-left: -40px;
}
  .content-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.content-filho > p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover{
  background-color: #FFDE59;
  color: black;

}
section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
  
.alinhamento-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-button{
  background-size: 220%;
  box-shadow: 0 .2em .3em rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-position: 100%;
  text-transform: uppercase;
  padding: 12px 16px;
  border-radius: 15px;
  transition: all .2s ease-out;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 14px;
  color:white;
  margin-left: -25px;

}


button:active {
  transform: translateY(-1px);
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.content-midias{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -25px;
}

.alinhamento-section > img{
  margin-left: -220px;
  margin-top: -55px;
}
.align-all {
 margin-top: -25px;
}

.align-all >h2{
 font-size: 67px;
 margin-left: -220px;


}
.align-all > p{
  width: 370px;
  margin-left: -170px;
}
.align-hard > h1{
  font-size: 67px;
}

.logos-img{
  flex-direction: column;
}

.align-allport{
  margin-top: -90px;
 margin-left: -200px;
 flex-direction: column;
}
.align-myportif贸lio> h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -25px;
}

.align-myportif贸lio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.alignall-square{
  flex-direction: column;
  gap: 100px;
}
.square1{
margin-top: auto;
}
.square{
  gap: 30px;
}



.align-button2{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-left: 200px;
}
}