*{
  padding: 0;
  margin: 0;
  text-decoration: none;

}
body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  

}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
  

} 

.content-name{
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 42px;
}

.content-name > h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  color: white;
}

.content-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 95px;
  gap: 121px;
  margin-top: 45px;
 
}

.content-nav a{
  font-size: 20px;
  color: white;
}

a:hover{
  border-radius: 5px;
  background-color:#FFDE59 ;
  color: black;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-cabecalho{
  color: white;
  margin-top: 215px;
  gap: 8px;
  margin-left: 45px;
}

.content-filho{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-filho > h1{
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.content-img{
  width: 400px;
  display: flex;
  justify-content: end;
  margin-left: 750px;
  gap: 30px;
  margin-top: -270px;
}

.content-button{
  display: flex;
  align-items: center;
  margin-top: -70px;
 
  
}
.content-button > button{
  width: 218px; 
  height: 60px;
  border-radius: 22px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: black;
  color:white;
  box-shadow: #FFDE59;
}

.content-midias{
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 70px;
  margin-left: 25px;
}

section{
  flex-direction: column;
  width: 100%;
  display: flex;
  color: white;
}

.alinhamento-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-left: 230px;
}


.alinhamento-content{
  display: flex;
  align-items: end;
  gap: 55px;
  flex-direction: column;
}

.alinhamento-content  > h1{
  align-items: end;
  justify-content: end;
  margin-right: 307px;
  font-size: 91px;
  gap: 20px;
}

.alinhamento-content > p{
  display: flex;
  align-items: end;
  justify-content: end;
  margin-left: 307px;
  font-size: 36px;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside > h2{
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 76px;
  margin-top: 300px;

}






@media (max-width: 448px){

  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-name{
  justify-content: center;
  align-items: center;
}
  
  .content-nav{
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-right: 88px;
} 

  main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -55px;
}

  .content-cabecalho{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 174px;
  gap: 8px;
}

.content-filho > h1{
}

.content-img{
  height: 500px;
  width: 500px; 
  gap: 30px;
  margin-top: 60px;
  margin-left: 20px;
}
  .content-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.content-filho{
  display: flex;
  justify-content: center;
  margin-left: 35px;
}

a:hover{
  background-color: #FFDE59;
  color: black;

}
section{
  display: flex;
  flex-direction: column;
  color: white;
}
  
.alinhamento-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}