*{
  padding: 0;
  margin: 0;
  text-decoration: none;

}
body{
  background-color: black;

}

header{
  display: flex;
  align-items: center;
  border: 1px solid white;

}

.content-name{
  display: flex;
  align-items: center;
  gap: 22px;
  margin-left: 99px;
  margin-top: 42px;
}

.content-name > h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  color: white;
}

.content-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 95px;
  gap: 121px;
  margin-top: 45px;
  border: 1px solid white;
}

.content-nav a{
  font-size: 20px;
  color: white;
}

a:hover{
  border-radius: 5px;
  border: 1px solid white;
  background-color:#FFDE59 ;
  color: black;
}

main{
  display: flex;
}

.content-cabecalho{
  border: 1px solid white;
  color: white;
  margin-left: 72px;
  margin-top: 174px;
  gap: 8px;
}

.content-filho{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-filho > h1{
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.content-img{
  display: flex;
  justify-content: end;
  margin-left: 603px;
  gap: 30px;
  margin-top: -200px;
}

.content-button{
  display: flex;
  align-items: center;
  margin-top: -160px;
  
}
.content-button > button{
  width: 218px;
  height: 60px;
  border-radius: 22px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}



@media (max-width: 448px){

  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.content-name{
  justify-content: center;
  align-items: center;
  margin-left: 19px;
}
  
.content-nav{
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  gap: 28px;

}

}