*{
  padding: 0;
  margin: 0;
  text-decoration: none;

}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  

}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  

} 

.content-name{
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 42px;
}

.content-name > h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  color: white;
}

.content-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 95px;
  gap: 121px;
  margin-top: 45px;
 
}

.content-nav a{
  font-size: 20px;
  color: white;
}

a:hover{
  border-radius: 5px;
  background-color:#FFDE59 ;
  color: black;
}

main{
  display: flex;
  justify-content: center;
}

.content-cabecalho{
  color: white;
  margin-top: 174px;
  gap: 8px;
}

.content-filho{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-filho > h1{
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.content-img{
  display: flex;
  justify-content: end;
  margin-left: 700px;
  gap: 30px;
  margin-top: -200px;
}

.content-button{
  display: flex;
  align-items: center;
  margin-top: -175px;
 
  
}
.content-button > button{
  width: 218px; 
  height: 60px;
  border-radius: 22px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: black;
  color:white;
  box-shadow: #FFDE59;
}

.content-midias{
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 70px;
  margin-left: 20px;
}

section{
  display: flex;
  width: 100%;
  height: 400px;
  color: white;
}

.alinhamento-section{
  display: flex;
  align-items: center;
  margin-top: 189px;
  margin-left: 112px;
}


@media (max-width: 448px){

  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-name{
  justify-content: center;
  align-items: center;
}
  
  .content-nav{
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-right: 88px;
} 

  main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -55px;
}

  .content-cabecalho{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 174px;
  gap: 8px;
}

.content-filho > h1{
}

.content-img{
  height: 400px;
  width: 288px; 
  gap: 30px;
  margin-top: 60px;
  margin-left: 200px;
}
  .content-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 37px;
}

.content-filho{
  display: flex;
  justify-content: center;
  margin-left: 35px;
}

a:hover{
  background-color: #FFDE59;
  color: black;

}

}